
.card {  
    float: left;
    justify-content: center;
    height:180px;
    width: 250px;
    padding: 5px;
    margin: 8px;   
    box-shadow: -3px 5px 9px rgb(145, 143, 73);
  
} 

.image{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

