
 .nav {
  clear:both;
  overflow:auto;
  background: #f5bc00;
  align-items: center;
  box-shadow: -12px 9px 47px #e8f571; 
  display:flex;
  font-size: 18px;
  font-weight: bold;
 
}


.logo img {
    height: 150px;
    align-items: center;
    margin-right: 800px;
    display: block;
    float:left;
 
 
}

ul li {
  display: inline-block; 
  padding:10px;
  font-size:25px; 
  text-decoration-color: brown;
  font-weight: bold;
  font-family: fantasy;
  color:brown;
  
}

.link{
  text-decoration-color: brown;
  font-weight: bold;
  color:brown;
  font-family: cursive;
  text-decoration: none;

}

.link:hover{
  color: white;
}