 *{
   padding: 0%;
   margin: auto;
 }
 .nav {
 
  background: #f5bc00;
  align-items: center;
  box-shadow: -12px 9px 47px #e8f571; 
  display:flex;
  font-size: 18px;
  font-weight: bold;
  height: 150px;
 
}
.logo img {
    height: 145px;
    align-items: center;
    display: block;
    float:left;
 
}

ul li {
  display: inline-block; 
  padding:10px;
  font-size:30px; 
  text-decoration-color: brown;
  font-weight: bold;
  font-family: 'Barlow Condensed', sans-serif;
  color:brown;
  
}

.link{
  text-decoration-color: brown;
  font-weight: bold;
  color:brown;
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: none;

}

.link:hover{
  color: white;
}