
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');


.menu{
   
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 30px;

    
}


.menu-item2{
    
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    padding-left: 119px;
   
}

.order{
    color: #65382e;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    margin: 40px;
    font-family: 'Barlow Condensed', sans-serif;
    
}

h3{
    font-size: 25px;
    margin: 0px;
    text-align: center;
    height: 50px;
    margin-top: 30px;

}

.cliente{
    font-family: 'Barlow Condensed', sans-serif;
    
}

.mesa{
    font-family: 'Barlow Condensed', sans-serif;
}